.columns {
  column-count: 1;
}

.carousel-content.show-2>* {
  width: 50%;
}

.carousel-content.show-3>* {
  width: calc(100% / 3);
}

.carousel-content.show-4>* {
  width: calc(100% / 4);
}

.card-columns {
  column-count: 4;
}

.col h1 {
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  padding-top: 15px;
}

.panel-body li:hover {
  color: #d11501;
}

.panel-body ul {
  padding: 0 0 0 16px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
}

.panel-body ul li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.listcolor {
  background-color: #fff;
  box-shadow: 0 0 7px 1px #f5deb1 !important;
  padding-top: 15px;
}

.heading {
  text-align: center;
  color: #d11501;
  font-size: 20px;
  margin: 10px 0 35px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 18px;
}

.gst-paragraph {
  color: #3f220d;
  font-size: 24px;
  margin: 0 0 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;

  padding-left: 35px;
  padding-top: 35px;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .headerbg {
  background: url(https://gitaseva.org/assets/img/headerBG.png) no-repeat top;
  padding-bottom: 10px;
  height: 240px !important;
  background-color: #ffedbc;
  border-bottom: 2px solid transparent;
} */
.filterheader {
  font-family: Verdana, NalandaTim, Tunga;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #d11501;
  line-height: 30px;
  flex: 1 1 auto;
  padding: 5px;
}

.headertitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem !important;
}

.cat {
  margin: 10px 23px 17px;
  text-align: left;
  float: left;
  width: 77%;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 #d6d1d1;
}

.cat span {
  font-family: Verdana, NalandaTim, Tunga;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: #472d1e;
  margin: 0;
}

.cat img {
  margin-left: 20px;
  margin-right: 15px;
}

.audiogradient {
  background: linear-gradient(to bottom, #ffedbc 0%, #fffcf4 100%);
}

.filter1 select {
  border-radius: 4px;
  color: #54422d;
  border: 1px solid #ffe4ac;
  background-color: #fff2d5;
  font-family: Verdana, NalandaTim, Tunga;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding: 6px 10px;
  height: 38px;
  margin-top: 8px;
}

.filter1 span {
  font-family: Verdana, NalandaTim, Tunga;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: #54422d;
  margin: 6px 15px 0 0;
}

.mat-expansion-indicator {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  transform: rotate(180deg);
}

.searchData {
  font-size: 25px;
  font-weight: 700;
  color: #d11501;
  line-height: 30px;
}

.panel-body ul li:active {
  color: #d11501 !important;
}

.panel-body ul li {
  color: #545454 !important;
}

.col-log-3 {
  padding-left: 0 !important;
}

.gst-page-content {
  margin-top: 30px;
}

.bgcolor {
  background: #fff;
  border-radius: 7px;
}


ul.images {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  list-style: inside; */
  margin: 0;
  padding: 0;
}

ul.images>li {
  position: relative;
  padding-top: 22%;
  list-style: none;
}

ul.images>li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}