.slick-next,
.slick-prev {
  height: 50px !important;
}

.tab-data-magazine {
  cursor: pointer;
  padding: 0 30px;
}

.ul.homedivine {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-gap: 50px;
  list-style: inside;
  margin: 0;
  padding: 0;
}

.slide-left {
  /* width: 833px; */
  float: left;
  margin: auto;
}

.bgImg {
  background: url(../assets/img/lyrix-bg.png) no-repeat 50%;
}

.gst-homebg-image {
  background: url(../assets/img/header-bg.jpg) no-repeat;
  background-position: top;
  position: inherit;
  background-size: cover;
  width: 100%;
  margin-top: -68px;
}

.specialtitle {
  text-align: center;
  color: #d11501;
  font-size: 30px;
  margin: 10px 0 35px;
  font-style: normal;
  font-weight: 700;
  font-family: "ChanakyaUni";
}

.pravachans-box {
  background: url(../Images/amrit-vachan-bg.svg) no-repeat top;
  float: right;
  width: 354px;
  height: 432px;
  padding: 12px 30px 30px;
}

.pravachans-box h5 {
  font-family: "ChanakyaUni";
  /* font-size: 25px; */
  font-size: 26px;
  color: #d11501;
  line-height: 24px;
  margin: 0 0 38px;
  /* margin: 0 0 15px; */
}

.p-list {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #cfa528;
}

.p-head-line {
  font-family: "ChanakyaUni";
  line-height: 19px;
  color: #ff2e12;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.p-list p {
  font-family: "ChanakyaUni";
  font-size: 18px;
  margin: 0;
  line-height: 23px;
}

.rm a {
  font-size: 14px;
  font-family: "VerdanaBold";
  line-height: 20px;
}

.intro {
  margin: 60px 0;
}

.intro h1 {
  font-size: 20px;
  line-height: 24px;
}

.intro p {
  font-family: "ChanakyaUni";
  font-style: normal;
  font-size: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 105px;
  line-height: 27px;
}

/*----- Start Service Tabs CSS ------*/

.nav-tabs {
  border-bottom: none !important;
}

nav {
  border-top: 1px solid #ffc574;
  border-bottom: 1px solid #ffc574;
  padding: 0 45px;
}

.nav-tabs .nav-link {
  margin-bottom: 0 !important;
  background: 0 !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom: 4px solid #ffffff !important;
  font-family: "VerdanaBold";
  font-size: 18px;
  color: #3d2b31;
  padding: 16px 40px 10px;
  font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ff2e12 !important;
  border-bottom: 4px solid #ff2e12 !important;
}

.nav-link:hover {
  color: #ff2e12 !important;
}

/* .tab-pane {
  /* background-color: #fffbf3; */
/* } */
.tab-row {
  display: flex;
  margin-top: 20px;
}

.tab-col {
  flex: 0 0 auto;
  width: 20%;
}

.tab-data {
  background: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  margin: 0 10px;
  height: 100%;
}

.tab-data img {
  border-radius: 5px;
}

.tab-data-audios p,
.tab-data p {
  font-family: "ChanakyaUniBold";
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.view-service-btn {
  background: linear-gradient(254.02deg, #ffdb5e 18.46%, #ffc52f 69.21%);
  border-radius: 11px;
  padding: 12px 40px;
}

.tab-data-audios {
  text-align: center;
  margin: 0 4px;
}

/* contact Page style */
.contactContent {
  /* outline: none;
  border: none;
  border-radius: 8px;
  background-color: #fffbf3;
  height: 40px;
  color: #3f220d;
  margin-right: 22px;
  width: -webkit-fill-available;
  margin-bottom: "10px";
  border: "1px solid rgb(228; 216; 190)";
  font-size: 17px;
  font-family: Arial; */

  outline: none;
  border-radius: 5px;
  background-color: #fffbf3;
  padding: 8px 15px;
  height: 40px;
  color: #3f220d;
  font-size: 20px;
  border: 1px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.customimg {
  max-width: 100%;
  height: auto;
}

.custombanner {
  max-width: 100%;
  height: auto;
}

/*----- End Service Tabs CSS ------*/

/*----- Contact Page css --------*/

.rescon {
  display: flex;
}

.tabscroll {
  padding: 20px 0 35px 0;
  text-align: justify;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tabscroll::-webkit-scrollbar-track {
  background-color: #fff6dd;
}

.tabscroll::-webkit-scrollbar {
  width: 2px !important;
  height: 7px;
}

.tabscroll::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(142, 142, 142);
  -webkit-border-radius: 0px;
  -webkit-width: 5;
}

.tabscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #fff6dd;
  background-color: #f6af3e;
  border: 1px solid #dcad0d;
}

/* homepage */

.homepagebg {
  background-image: url("../assets/img/message-box-bg.png");
  background-repeat: no-repeat;
  height: 160px;
  margin-left: 40px;
}

.btnSubmit {
  cursor: pointer;
  font-size: 22px;
  font-family: ChanakyaUni;
  background-color: #ff4e2a;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
}

.btnSubmit:hover {
  background-color: #d11501;
}

/* gitaseva legend intro */

.pravachan-audio-list {
  float: left;
  width: 45%;
  background-color: #ffcd44;
  padding: 20px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px #d6d1d1;
  margin: 0 7px 10px;
  height: 118px;
  text-align: center;
}

.pravachan-audio-list p {
  color: #3f220d;
  font-size: 17px;
  margin: 18px 0 0;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.introbox {
  padding: 0 45px;
  border-right: 1px solid;
  border-image: linear-gradient(to top, #ffcd44, rgba(0, 0, 0, 0)) 20 100%;
}

.introbox h2 {
  color: #3f220d;
  font-size: 22px;
  margin: 0 0 35px;
  font-style: normal;
  font-weight: 600;
  font-family: ChanakyaUniBold;
  text-align: center;
  cursor: pointer;
}

.pravachan-audio-list {
  cursor: pointer;
  color: #d11501;
}

.pravachan-audio-list:hover p {
  color: #d11501;
}

/* विशेष ई-पुस्तकें */

.newcontainer {
  background-color: #fff0ce;
  padding-top: 20px;
  margin-top: 59%;
}

.sliderbooks {
  height: 320px;
  width: 193px !important;
  margin: 0 11px;
  background-color: #fff8e8;
  border: 1px solid #f3e2e2;
  padding: 15px;
  border-radius: 6px;
  float: left;
  text-align: center;
}

.sliderbooks p {
  color: #3f220d;
  font-size: 18px;
  margin: 20px 0 0;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
}

.sliderbooks a:hover p {
  color: #d11501;
}

.boxheadtitle {
  font-family: ChanakyaUni, NalandaTim, Tunga;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: #d11501;
  line-height: 30px;
  flex: 1 1 auto;
  padding: 5px;
}

/* विशेष ऑडियो  */
.pravchanslider {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 20px 0px 10px 10px;
  height: 100%;
  border: 1px solid #ffd186;
}

.pravchanslider p {
  color: #3f220d;
  font-size: 18px;
  line-height: 23px;
  /* margin: 20px 0 0 0; */
  font-weight: 600;
}

.pravchanslider:hover p {
  color: #d11501;
}

.messagebox {
  background-color: #ffe9b9;
  height: 492px;
  padding: 0 35px 0 45px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 340px;
  margin-left: 40px;
}

.view-service-btn {
  background: linear-gradient(254.02deg, #ffdb5e 18.46%, #ffc52f 69.21%);
  border-radius: 11px;
  padding: 12px 40px;
}

.messageheader {
  text-align: center;
  margin: -60px 0 0 25px;
  color: #d11501;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 24px;
  font-family: ChanakyaUni;
}

.messagebottom {
  border-bottom: 4px solid #D11501;
  margin: -4px 20px 0px 67px;
}

.p-subbutton {
  text-align: center;
  margin: 20px 40px 0;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .homepagebg {
    /* message box */
    background-image: url("../assets/img/message-box-bg4.png");
    background-repeat: no-repeat;
    margin-left: -80px;
  }

  .messagebox {
    height: 440px;
    padding: 0 12px 0 14px;
    width: 270px;
    margin-left: -80px;
  }

  .messageheader {
    text-align: start;
    margin: -80px 0 0 -10px;
    font-size: 25px;
    padding-bottom: 10px;
  }

  .messagebottom {
    margin: -3px 56% 0px -60px
  }

  .p-subbutton {
    margin: -30px 60px 0;
  }

  .btnSubmit {
    cursor: pointer;
    font-size: 22px;
    font-family: ChanakyaUni;
    background-color: #ff4e2a;
    padding: 4px 0;
    border-radius: 5px;
    color: #fff;
  }

}