
.button-container {
  display: flex;
}

.button-container button {
  padding: 5px 10px;
  border: 1px solid #dee2e6;
  cursor: pointer;
  color: #007bff;
  background: none;
}

.button-container button.active {
  background-color: #007bff; /* Blue color as an example */
  color: white;
}


.cardBody {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #f7ebce;
  /* padding: 15px; */
  padding: .5rem .75rem;
  text-align: center;
  margin: 0px;
}

.searchData {
  font-size: 15px;
  font-family: ChanakyaUni;
}

.searchData .searchData {
  font-size: 25px;
  font-weight: 700;
  color: #d11501;
  line-height: 30px;
}

.searchData p {
  font-size: 17px;
  font-weight: 600;
  color: #3f220d;
  line-height: 18px;
  margin-bottom: 0;
  padding-bottom: 17px;
}
.resultnotfound {
  width: 100%;
  font-size: 25px;
  height: auto;
}
