@font-face {
  font-family: "VerdanaBold";
  src: url("../fonts/Verdana-Bold.woff2") format("woff2"),
    url("../fonts/Verdana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VerdanaRegular";
  src: url("../fonts/Verdana.woff2") format("woff2"),
    url("../fonts/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KrutiDev-010";
  src: url("../fonts/KrutiDev010.woff2") format("woff2"),
    url("../fonts/KrutiDev010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChanakyaUniBold";
  src: url("../fonts/ChanakyaUni-Bold.woff2") format("woff2"),
    url("../fonts/ChanakyaUni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChanakyaUni";
  src: url("../fonts/ChanakyaUni.woff2") format("woff2"),
    url("../fonts/ChanakyaUni.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(255, 250, 240);
  font-size: 16px !important;
  /* color: #3d2b31 !important; */
  /* font-family: "VerdanaRegular"; */
  font-family: ChanakyaUni !important;
}

.ff-VerdanaBold {
  font-family: "VerdanaBold";
}

.ff-VerdanaRegular {
  font-family: "VerdanaRegular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #3d2b31; */
  font-family: 'ChanakyaUni';
}

a {
  color: #3d2b31;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  outline: none;
}

a:hover {
  color: #ff2e12 !important;
  text-decoration: none !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.slick-next,
.slick-prev {
  height: 50px !important;
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1226px !important;
  }
}

/*----- Start Header CSS -----*/

.activelang p {
  margin: 0;
  color: #ea7a05;
  font-size: 19px;
  font-weight: 600;
}

.activelang p:hover {
  background: blue;
  color: white;
}

/* start copycss */
body {
  margin: 0;
  padding: 0;
}

.link-btn ::ng-deep .mat-button-focus-overlay {
  background-color: transparent;
}

.username {
  color: white;
  font-size: 19px;
  padding: 4px 0 0 0;
  flex: auto;
  text-align: right;
}

.usericon {
  float: right;
  margin: 0px 0px 0px 0px;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
}

.nousericon {
  border-radius: 50%;
}

.shrihari {
  color: #fff;
  font-size: 20px;
  margin: 0 0 -35px 0;
  text-align: center;
  padding-top: 5px;
}

.gst-logo {
  float: left;
  width: 17%;
}

.gst-menu {
  width: 83%;
}

.searchbar {
  float: right;
  position: relative;
  width: 38%;
}

.searchbar form {
  width: 100%;
  float: right;
}

.searchbar form input {
  /* width: 100%; */
  background-color: #ffa843;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "ChanakyaUni", "NalandaTim", "Tunga";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  border: 1px solid #ffa843;
  padding: 8px 35px 8px 8px;
  height: 30px;
}

.searchbar form input:focus {
  outline: none;
  border: 1px solid #ffc47e;
}

.search-button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  cursor: pointer;
}

.search-button:focus {
  outline: none;
  border: none;
}

.gst-menubar {
  float: left;
  margin: 0 0 0 20px;
  display: flex;
}

.gst-menubar .hmenu {
  margin: 22px 30px 0 0;
  float: initial;
  padding-left: 0;
}

.gst-menubar .hmenu li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}

.gst-menubar .hmenu li:last-child::before {
  /* content: ""; */
  padding: 0;
}

#nav-link {
  display: block;
  padding: 0;
}

#nav-dropdown {
  color: white;
  font-weight: bold;
  background-color: red;
}

.allCat {
  float: left;
  width: 30%;
  background-color: #ffb968;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  color: #ea7a05;
  border: 1px solid #ffb968;
  padding: 4px 0 0 5px;
  height: 30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.allCat:focus {
  outline: none;
  border: 1px solid #ffc47e;
}

.allCatSearch {
  float: right;
  background-color: #ffb968;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  color: #ea7a05;
  border: 1px solid #ffb968;
  padding: 1px 0 0 5px;
  height: 30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdownstyle div:hover {
  background-color: blue;
}

.allCatSearchone {
  background-color: #ffb968;
  font-size: 19px;
  font-weight: 600;
  color: #ea7a05;
  border: 1px solid #ffb968;
  padding: 3px 0 0 10px;
  height: 30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.allCatSearch:focus {
  outline: none;
  border: 1px solid #ffc47e;
}

.userDiv {
  padding-top: 20px;
  float: right;
  text-align: right;
}

.loginmenudd {
  width: 45px;
  display: flex;
  justify-content: right;
}

.loginmenuddimg {
  width: 32px;
  height: 32px;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  color: #cf2c24;
}

#compute_select {
  display: none;
}

.containers {
  width: 1200px;
  margin: 0 auto;
  /* height: 142px; */
  position: relative;
}

img {
  vertical-align: middle;
}

.selectLanguage {
  float: right;
  font-family: Arial;
  color: #3f220d;
  font-size: 13px;
  padding: 5px 10px 5px 5px;
  border: 1px solid #f3b45a;
  width: 132px;
  border-radius: 4px;
  background: #ffe1b4;
}

.searchBar {
  margin-top: 70px;
}

.searchBar h2 {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 31px;
  color: #000;
  float: left;
  margin: 0;
  line-height: 40px;
}

.language-picker {
  width: 100px;
}

.gst-header {
  background: url("https://gitaseva.org/assets/img/headerBG.png") no-repeat top;
  height: 175px;
  position: relative;
}

.nav-link {
  display: none;
  float: right;
  padding: "0 10px 0 10px";
}

.link {
  padding: 0 10px 0 10px;
}

/* end copycss */
.gst-menubar .hmenu {
  margin: 22px 30px 0 0;
  /* float: right; */
  float: initial;
  padding-left: 0;
}

.gst-menubar .hmenu li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}

.gst-menubar .hmenu li a {
  color: #472d1e;
  font-size: 22px;
  text-decoration: none;
  outline: none;
  font-style: normal;
  font-weight: 700;
  margin-left: 7px;
  margin-right: 7px;
}

.gst-menubar .hmenu li a.active,
.gst-menubar .hmenu li a:focus,
.gst-menubar .hmenu li a:hover {
  color: #d11501;
}

.gst-menubar .hmenu li::after {
  content: "::";
  padding-left: 15px;
}

.gst-menubar .hmenu li:last-child::after {
  content: "";
  padding: 0;
}

/* footer css */
.gst-footer {
  background-color: #ffeaba;
  padding: 2% 0 20px 0;
}

.gst-footer h2 {
  border-bottom: 3px solid #ffcf73;
  color: #472d1e;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 12px;
  font-family: "ChanakyaUni";
}

.footer-intro {
  float: left;
  width: 17%;
  margin-right: 2%;
}

.footer-intro ul {
  padding: 10px 0 0;
  margin: 0;
}

.footer-intro ul li {
  list-style-type: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffd78c;
  padding-bottom: 5px;
}

.footer-intro ul li Link,
.footer-author ul li Link {
  color: #472d1e;
  font-size: 21px;
  text-decoration: none;
  outline: none;
  font-style: normal;
  /* font-weight: bold;
  */
}

.footer-intro ul li Link.active,
.footer-author ul li Link.active,
.footer-intro ul li Link:focus,
.footer-author ul li Link:focus,
.footer-intro ul li Link:hover,
.footer-author ul li Link:hover {
  color: #d11501;
}

.footermenu {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffd78c;
  padding-bottom: 5px;
}

.ftmenulink {
  color: #d11501;
  font-size: 21px;
  font-style: normal;
  margin-right: 13px;
  cursor: pointer;
}

.app-icon {
  padding-top: 15px;
  float: none;
  width: 100%;
  text-align: center;
}

.app-icon img {
  margin-left: 4px;
}

.socialicons {
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 3px solid #fee3a3;
  display: flex;
  justify-content: center;
}

.socialicons img:hover {
  filter: grayscale(100%) !important;
}

/* loader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff8a00;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff8a00;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffd857;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.headerwidth {
  width: 85%;
}

.loginmenudd {
  position: absolute;
  padding-top: 5px;
  right: 0;
}

.bannerimg {
  cursor: pointer;
  width: 99%;
  height: 100%;
}

.bannerwidth {
  width: 830px;
}

.parentBox {
  height: 217px;
  display: flex;
  justify-content: space-between;
}

.audioBox1 {
  width: 445px;
  height: 238px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 5px solid #f4b919;
  display: flex;
}

.audioBox2 {
  text-align: center;
  color: #3f220d;
  font-size: 24px;
  background-color: #ff9509;
  padding: 40px 44px 20px 68px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: right;
  line-height: 32px;
  width: 415px;
  z-index: 0;
  position: relative;
  border-bottom: 5px solid #ec8600;
  height: 238px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .gst-menubar {
    /* margin: 0; */
  }

  .headerwidth {
    width: 70%;
  }

  .loginmenudd {
    right: 15%;
  }

  .shrihari {
    margin-left: -15%;
  }

  .gst-menubar .hmenu li a {
    margin: 0;
  }

  .bannerimg {
    width: 70%;
  }

  .bannerwidth {
    margin-left: -58px;
  }

  .parentBox {
    display: flex;
    justify-content: center;
  }

  .audioBox1 {
    width: 330px;
    height: 200px;
  }

  .audioBox2 {
    width: 330px;
    height: 200px;
  }

  /* .homepagebg {} */
}