/* hindi */
@font-face {
    font-family: "ChanakyaUni";
    src: url("/fonts/hindi/chanakyaunin.eot"); /* IE9 Compat Modes */
    src: url("/fonts/hindi/chanakyaunin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/hindi/chanakyaunin.otf") format("opentype"), /* Open Type Font */
    url("/fonts/hindi/chanakyaunin.svg") format("svg"), /* Legacy iOS */
    url("/fonts/hindi/chanakyaunin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/hindi/chanakyaunin.woff") format("woff"), /* Modern Browsers */
    url("/fonts/hindi/chanakyaunin.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
    font-family: "ChanakyaUni";
    src: url("/fonts/hindi/chanakyaunii.eot"); /* IE9 Compat Modes */
    src: url("/fonts/hindi/chanakyaunii.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/hindi/chanakyaunii.otf") format("opentype"), /* Open Type Font */
    url("/fonts/hindi/chanakyaunii.svg") format("svg"), /* Legacy iOS */
    url("/fonts/hindi/chanakyaunii.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/hindi/chanakyaunii.woff") format("woff"), /* Modern Browsers */
    url("/fonts/hindi/chanakyaunii.woff2") format("woff2"); /* Modern Browsers */
    font-style:italic;
	font-weight:normal;
}

@font-face {
    font-family: "ChanakyaUni";
    src: url("/fonts/hindi/chanakyaunib.eot"); /* IE9 Compat Modes */
    src: url("/fonts/hindi/chanakyaunib.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/hindi/chanakyaunib.otf") format("opentype"), /* Open Type Font */
    url("/fonts/hindi/chanakyaunib.svg") format("svg"), /* Legacy iOS */
    url("/fonts/hindi/chanakyaunib.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/hindi/chanakyaunib.woff") format("woff"), /* Modern Browsers */
    url("/fonts/hindi/chanakyaunib.woff2") format("woff2"); /* Modern Browsers */
    font-style:normal;
	font-weight:bold;
}

@font-face {
    font-family: "ChanakyaUni";
    src: url("/fonts/hindi/chanakyaunibi.eot"); /* IE9 Compat Modes */
    src: url("/fonts/hindi/chanakyaunibi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/hindi/chanakyaunibi.otf") format("opentype"), /* Open Type Font */
    url("/fonts/hindi/chanakyaunibi.svg") format("svg"), /* Legacy iOS */
    url("/fonts/hindi/chanakyaunibi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/hindi/chanakyaunibi.woff") format("woff"), /* Modern Browsers */
    url("/fonts/hindi/chanakyaunibi.woff2") format("woff2"); /* Modern Browsers */
    font-style:italic;
	font-weight:bold;
}

/* english */
@font-face {
    font-family: "NalandaTim";
	src: url("/fonts/english/nalandatim.eot"); /* IE9 Compat Modes */
    src: url("/fonts/english/nalandatim.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/english/nalandatim.svg") format("svg"), /* Legacy iOS */
    url("/fonts/english/nalandatim.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/english/nalandatim.woff") format("woff"), /* Modern Browsers */
    url("/fonts/english/nalandatim.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family: "NalandaTim";
    src: url("/fonts/english/nalandatimb.eot"); /* IE9 Compat Modes */
    src: url("/fonts/english/nalandatimb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/english/nalandatimb.svg") format("svg"), /* Legacy iOS */
    url("/fonts/english/nalandatimb.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/english/nalandatimb.woff") format("woff"), /* Modern Browsers */
    url("/fonts/english/nalandatimb.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:bold;
}

@font-face {
    font-family: "NalandaTim";
	src: url("/fonts/english/nalandatimi.eot"); /* IE9 Compat Modes */
    src: url("/fonts/english/nalandatimi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/english/nalandatimi.svg") format("svg"), /* Legacy iOS */
    url("/fonts/english/nalandatimi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/english/nalandatimi.woff") format("woff"), /* Modern Browsers */
    url("/fonts/english/nalandatimi.woff2") format("woff2"); /* Modern Browsers */
	font-style:italic;
	font-weight:normal;
}

/* Kannada */
@font-face {
    font-family: "Tunga";
	src: url("/fonts/kannada/tunga.eot"); /* IE9 Compat Modes */
    src: url("/fonts/kannada/tunga.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/kannada/Tunga.otf") format("opentype"), /* Open Type Font */
    url("/fonts/kannada/Tunga.svg") format("svg"), /* Legacy iOS */
    url("/fonts/kannada/tunga.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/kannada/Tunga.woff") format("woff"), /* Modern Browsers */
    url("/fonts/kannada/tunga.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family: "Tunga";
    src: url("/fonts/kannada/tungab.eot"); /* IE9 Compat Modes */
    src: url("/fonts/kannada/tungab.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/kannada/Tungab.otf") format("opentype"), /* Open Type Font */
    url("/fonts/kannada/Tungab.svg") format("svg"), /* Legacy iOS */
    url("/fonts/kannada/tungab.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/kannada/Tungab.woff") format("woff"), /* Modern Browsers */
    url("/fonts/kannada/tungab.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:bold;
}

/* Bangla */
@font-face {
    font-family: "Shonar Bangla";
	src: url("/fonts/bangla/shonar_bangla.eot"); /* IE9 Compat Modes */
    src: url("/fonts/bangla/shonar_bangla.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/bangla/shonar_bangla.svg") format("svg"), /* Legacy iOS */
    url("/fonts/bangla/shonar_bangla.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/bangla/shonar_bangla.woff") format("woff"), /* Modern Browsers */
    url("/fonts/bangla/shonar_bangla.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family: "Shonar Bangla";
    src: url("/fonts/bangla/shonar_banglab.eot"); /* IE9 Compat Modes */
    src: url("/fonts/bangla/shonar_banglab.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("/fonts/bangla/shonar_banglab.svg") format("svg"), /* Legacy iOS */
    url("/fonts/bangla/shonar_banglab.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/bangla/shonar_banglab.woff") format("woff"), /* Modern Browsers */
    url("/fonts/bangla/shonar_banglab.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:bold;
}

/* Tamil */
@font-face {
    font-family: "Latha";
	src: url("/fonts/tamil/LATHA.eot"); /* IE9 Compat Modes */
    src: url("/fonts/tamil/LATHA.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/tamil/LATHA.otf") format("opentype"), /* Open Type Font */
    url("/fonts/tamil/LATHA.svg") format("svg"), /* Legacy iOS */
    url("/fonts/tamil/LATHA.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/tamil/LATHA.woff") format("woff"), /* Modern Browsers */
    url("/fonts/tamil/LATHA.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family: "Latha";
    src: url("/fonts/tamil/LATHAB.eot"); /* IE9 Compat Modes */
    src: url("/fonts/tamil/LATHAB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/tamil/LATHAB.otf") format("opentype"), /* Open Type Font */
    url("/fonts/tamil/LATHAB.svg") format("svg"), /* Legacy iOS */
    url("/fonts/tamil/LATHAB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/tamil/LATHAB.woff") format("woff"), /* Modern Browsers */
    url("/fonts/tamil/LATHAB.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:bold;
}

/* Oriya */
@font-face {
    font-family: "Kalinga";
	src: url("/fonts/oriya/kalinga.eot"); /* IE9 Compat Modes */
    src: url("/fonts/oriya/kalinga.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/oriya/kalinga.svg") format("svg"), /* Legacy iOS */
    url("/fonts/oriya/kalinga.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/oriya/kalinga.woff") format("woff"), /* Modern Browsers */
    url("/fonts/oriya/kalinga.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family: "Kalinga";
    src: url("/fonts/oriya/kalingab.eot"); /* IE9 Compat Modes */
    src: url("/fonts/oriya/kalingab.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/oriya/kalingab.svg") format("svg"), /* Legacy iOS */
    url("/fonts/oriya/kalingab.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/oriya/kalingab.woff") format("woff"), /* Modern Browsers */
    url("/fonts/oriya/kalingab.woff2") format("woff2"); /* Modern Browsers */
	font-style:normal;
	font-weight:bold;
}